# Configuration file for all scripts
# All file paths are relative to the parent script directory, unless otherwise stated
---
global-variables:
  network-variables:
    # Path to the configuration files for the networks
    - &network_configs_directory '../network_configs/'
    # File name for the network model to load
#    - &network_name 'inceptionv4_v3'
#    - &network_name 'network_v8'
    - &network_name 'network_v8'
  data-variables:
    # Path to the images with lensing and X-ray maps and parameters
    - &data_path '../data/binned_data_20_hydro.pkl'
#    - &data_path '../data/gaussian_data.pkl'
  output-variables:
    # Directory to save network training states
    - &network_states_directory '../model_states/'

# main.py config file
main:
  # Variables for training the network
  training:
    # Number of epochs to train the network for
    network-epochs: 200
    # Number of inputs to process between network weight updates
    batch-size: 120
    # File number to save the network progres
    network-save: 11
    # File number to load the network state
    network-load: 11
    # Learning rate for training the network
#    network-learning-rate: 2.0e-4
    network-learning-rate: 1.0e-4
    # Validation dataset fraction
    validation-fraction: 0.15
    # File name for network model to load
    network-name: *network_name
    # Network description
    network-description: 'Ordered Bottleneck'
    # Labels for the classes
    class-labels:
#      - 'VD Low'
#      - 'VD Mid'
#      - 'VD High'
      - 'flamingo'
      - 'CDM Low'
      - 'CDM'
      - 'CDM High'
      - 'Zoom 0.05'
      - '$\sigma=0.1$'
      - 'Zoom 0.1'
      - '$\sigma=0.3$'
      - '$\sigma=1$'
#      - '0.4'
#      - '0.7'
#      - '0.75'
#      - '0.05'
#      - '0.1'
#      - '0.3'
#      - '0.6'
#      - '1'
  # File location for different datasets
  data:
    # Path to the list containing the images and parameters
    data-path: *data_path
    # Path to the configuration files for the encoder and decoder
    network-configs-directory: *network_configs_directory
  # Directory locations for the different outputs
  output:
    # Directory to save network training states
    network-states-directory: *network_states_directory
    # Path to the parameters predictions generated by the network
    predictions-path: '../data/parameter_predictions.csv'
    # Path to the parameter distributions generated by the flow
    distributions-path: '../data/parameter_distributions.csv'
    # Directory to save plots
    plots-directory: '../plots/'
