# Configuration file for all scripts
# All file paths are relative to the parent script directory, unless otherwise stated
---
global-variables:
  network-variables:
    # Path to the configuration files for the networks
    - &network_configs_directory '../network_configs/'
    # File name for the network model to load
    - &network_name 'network_v8'
    - &reduced_network 'network_v10'
  data-variables:
    # Path to the images with lensing and X-ray maps and parameters
    - &data_dir '../data/'
#    - &data_path '../data/gaussian_data.pkl'
  output-variables:
    # Directory to save network training states
    - &network_states_directory '../model_states/'
    - &plots-directory '../plots/'

# main.py config file
main:
  # Variables for training the network
  training:
    # Number of epochs to train the network for
    epochs: 60
    # Number of inputs to process between network weight updates
    batch-size: 120
    # File number to save the network progres
    network-save: 0
    # File number to load the network state
    network-load: 20
    # Learning rate for training the network
    learning-rate: 1.0e-4
    # Validation dataset fraction
    validation-fraction: 0.15
    # File name for network model to load
    network-name: *network_name
    # Network description
    network-description: 'Ellipticals proportional'
    # Labels for the classes
    class-labels:
      - 'BAHAMAS-0 Low'
      - 'BAHAMAS-0'
      - 'BAHAMAS-0 High'
      - 'BAHAMAS-0.1'
      - 'BAHAMAS-0.3'
      - 'BAHAMAS-1'
      - 'DARKSKIES-0.01'
      - 'Flamingo-0'
      - 'TNG-0'
      - 'DARKSKIES-0.05 (U)'
      - 'DARKSKIES-0.1 (U)'
      - 'DARKSKIES-0.2 (U)'
#      - '0.551'
#      - '0.549'
#      - '0.55'
#      - '1.0'
#      - '1.55'
  # File location for different datasets
  data:
    # Path to the list containing the images and parameters
    data-dir: *data_dir
    # Path to the configuration files for the encoder and decoder
    network-configs-directory: *network_configs_directory
  # Directory locations for the different outputs
  output:
    # Directory to save network training states
    network-states-directory: *network_states_directory
    # Path to the parameters predictions generated by the network
    predictions-path: '../data/parameter_predictions.csv'
    # Path to the parameter distributions generated by the flow
    distributions-path: '../data/parameter_distributions.csv'
    # Directory to save plots
    plots-directory: *plots-directory
# optimise.py config file
optimise:
  # Variables for optimising the network
  optimisation:
    # Number of epochs to train the network for
    epochs: 100
    # Number of trials to run
    trials: 50
    # File number to save the network progres
    network-save: 0
    # File number to load the network state
    network-load: 0
    # File number to save the study progres
    study-save: 6
    # File number to load the study state
    study-load: 6
    # Number of epochs before pruning can occur
    warmup: 10
    # Number of epochs to average over when reporting metrics
    smooth-number: 5
    # Learning rate for training the network
    learning-rate: 1.0e-3
    # File name for network model to load
    network-name: *reduced_network
  # File locations for optimisation
  data:
    # Path to the directory for studies
    study-directory: *data_dir
  # Paths and directory locations for saving outputs
  output:
    # Path to save the base network object
    base-network: '../data/base_net.pth'
    # Path to save the network during training
    network: '../data/optuna_net.pth'
    # Path to the directory to save plots
    plots-directory: *plots-directory
# gaussian_tests.py config file
gaussian:
  # Variables for the Gaussian tests
  gaussian:
    # Clears existing Gaussian tests
    clear: True
    # Number of epochs to train the network for
    epochs: 100
    # Number of runs to do per test
    runs: 5
    # Number of inputs to process between network weight updates
    batch-size: 120
    # Validation dataset fraction
    validation-fraction: 0.15
    # Names of the tests
    names:
      - '2 Anchors'
      - '3 Anchors'
      - '4 Anchors'
    # Classes that are known for each test
    known:
      -
        - 0.05
        - 1.05
      -
        - 0.05
        - 0.5
        - 1.05
      -
        - 0.05
        - 0.3
        - 0.7
        - 1.05
    # Classes that are known but the label is unknown
    unknown:
      - []
  # File locations for Gaussian tests
  data:
    data-path: '../data/gaussian_data_3_less_noise.pkl'
  # Paths and directory locations for saving outputs
  output:
    # Path to save the outputs from the Gaussian tests
    tests-path: '../data/gaussian_tests.pkl'
    # Path to the directory to save plots
    plots-directory: *plots-directory
