# Configuration file for all scripts
# All file paths are relative to the parent script directory, unless otherwise stated
---
global-variables:
  network-variables:
    # Path to the configuration files for the networks
    - &network_configs_directory '../network_configs/'
    # File name for the network model to load
    - &network_name 'inceptionv4'
  data-variables:
    # Path to the images with lensing and X-ray maps and parameters
    - &data_path '../data/binned_data_20.pkl'
  output-variables:
    # Directory to save network training states
    - &network_states_directory '../model_states/'

# main.py config file
main:
  # Variables for training the network
  training:
    # Number of epochs to train the network for
    network-epochs: 80
    # Number of epochs to train the flow for
    flow-epochs: 40
    # Number of inputs to process between network weight updates
    batch-size: 80
    # File number to save the network progres
    network-save: 0
    # File number to save the flow progress
    flow-save: 0
    # File number to load the network state
    network-load: 6
    # File number to load the flow state
    flow-load: 5
    # Learning rate for training the network
    network-learning-rate: 0.0005
    # Learning rate for training the flow
    flow-learning-rate: 0.00002
    # Validation dataset fraction
#    validation-fraction: 0.15
    validation-fraction: 0.99
    # File name for network model to load
    network-name: *network_name
    # Network description
    network-description: 'Free network during flow training, trained from start, changed head'
    # Flow description
    flow-description: 'Free network, changed head'
  # File location for different datasets
  data:
    # Path to the list containing the images and parameters
    data-path: *data_path
    # Path to the configuration files for the encoder and decoder
    network-configs-directory: *network_configs_directory
  # Directory locations for the different outputs
  output:
    # Directory to save network training states
    network-states-directory: *network_states_directory
    # Path to the parameters predictions generated by the network
    predictions-path: '../data/parameter_predictions.csv'
    # Path to the parameter distributions generated by the flow
    distributions-path: '../data/parameter_distributions.csv'
    # Directory to save plots
    plots-directory: '../plots/'
