zuko~=1.0.0
numpy~=1.26.1
scipy~=1.12.0
PyYAML~=6.0.1
PyQt5~=5.15.10
astropy~=5.3.4
matplotlib~=3.8.0

--find-links https://download.pytorch.org/whl/cu118; sys_platform != "darwin"
torch~=2.1.0
torchvision~=0.16.0

netloader @ git+https://github.com/EthanTreg/PyTorch-Network-Loader@c282711
